# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: db
    database_port: ~
    database_name: cutout
    database_user: root
    database_password: root
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: no-reply@cutout.dev
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # JWT
    jwt_private_key_path: '%kernel.root_dir%/../var/jwt/private.pem' # ssh private key path
    jwt_public_key_path:  '%kernel.root_dir%/../var/jwt/public.pem'  # ssh public key path
    jwt_key_pass_phrase:  cutoutapi                                  # ssh key pass phrase
    jwt_token_ttl:        3600000

    # Stripe
    stripe_sk_key: sk_test_M3JKWwFNiPpRq8JlOtCR9AQC
    stripe_pk_key: pk_test_BUQ19u74XIPRnpwdC1gklBtm